
html,body{
  background-color: #222;
}
.app{
  width: 100%;
  height: 100%;
}
.stage{
  // background-color: gold;
  height: 680px;
  position: relative;
  width: 100%;
}

.img-sec{
  position: relative; 
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  background: #ddd;
  @at-root{
    .image-figure{
  float: left;
        top: 20px;
        left: 20px;
        position: relative;
        margin-left: 5px;
      // position: absolute;
      width: 320px;
      height: 360px;
      // margin: 0;
      padding: 40px;
      box-sizing: border-box;
      transition:all 0.5s;
      //  -webkit-animation:all 0.5s ease-out;
      // -webkit-transition:all 0.5s;
      background-color: #fff;
      img{
        width: 240px;
        height: 240px;
      }
      &:hover{
        background-color: goldenrod;
        box-shadow: 2px 2px 1px #888888;
        top: 18px;
        left: 18px;
      }
    }
    figcaption{
      text-align: center;
      .image-title{
          margin: 20px 0 0 0;
          color: #a7a0a2;
          font-size: 16px;
      }
    }
  }


}
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
   z-index: 101; 
   text-align: center;
   width: 100%;
   background-color: #abc;
}